.profile-layout{
    -fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
    -fx-background-radius: 0 0 25 25 ;

}
.button{
    -fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);;
    -fx-background-radius:  50 ;
}
.transparent {
    -fx-background-color: rgba(0,0,0,0);
}
.white-backround{
    -fx-background-color: #fff;
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.bordure-layout{
    -fx-background-radius: 10 10 10 10;
    -fx-background-color:linear-gradient(to right, #00c6ff, #0072ff);
}

.list-border{
    -fx-border-radius: 10 10 10 10;
    -fx-border-color: linear-gradient(to right, #00c6ff, #0072ff);
}

.text-layount{
    -fx-text-fill: linear-gradient(to right, #00c6ff, #0072ff);
}
.CarNumber-layout{
    -fx-background-color: black;
}

